@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: hsl(243, 70%, 67%); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;

  --body-radial-color-1: #ecfeff;
  --body-radial-color-2: #fafafa;

  --body-radial-d-color-1: #081231;
  --body-radial-d-color-2: #050e29;
}

* {
  @apply outline-none focus-visible:outline-slate-100 focus-visible:ring-slate-100 rounded-sm;
}

body {
  @apply dark:text-white text-black max-w-6xl container dark:bg-bogoss-700 bg-bogoss-200;
}

html {
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  @apply dark:text-bogoss-400 text-bogoss-400;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.card {
  @apply rounded-lg border-[1px] border-black/40 shadow-inner-shadow-dark-sm;
}
/*  */

.shadow-inner-shadow-dark-sm {
  --tw-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0.02) inset, 0px 0px 0px 1px hsla(0, 0%, 100%, 0.02) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: inset 0px 1px 0px 0px var(--tw-shadow-color), inset 0px 0px 0px 1px var(--tw-shadow-color),
    0px 0px 0px 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

dialog[open] {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-behavior: allow-discrete;
}
@starting-style {
  dialog[open] {
    opacity: 0.1;
    transform: scale(0.8);
    filter: blur(20px);
  }
}

dialog::backdrop {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
}

.element:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.element:has(~ .element:hover) {
  transform: scale(0.75);
}

.element:hover ~ .element {
  transform: scale(0.75);
}

.animation-start-skill-card {
  animation: animation-start-skill 0.3s ease-in-out 0.1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes animation-start-skill {
  0% {
    transform: translateY(50%), scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateY(0), scale(1);
    opacity: 1;
  }
}

.glassy-lise {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.26);
}

.glassy-lise::before {
  inset: 0px;
  background: radial-gradient(circle, var(--body-radial-d-color-1), var(--body-radial-d-color-2));
}

.anim-xp-img {
  animation: float 10s infinite;
}

@keyframes float {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
